.HomeInfoName {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  font-size: 0.85rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}