/* Ranking CSS */

.RankingContents {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.RankingContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.RankingActionsSectionHorizontal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: baseline;
    align-items: center;
}

.landscape .BottomGridSection .RankingContainer {
    height: 100%;
    width: 100%;
}

.portrait .RankingContents {
    padding: 0;
}

.MainContentWrapper {
    width: 100%;
    height: 100%;
}

.MainContentWrapper.landscape {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.MainContentWrapper.portrait {
    display: flex;
    flex-direction: column;
}

.TopGridSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.BottomGridSection {
    width: 100%;
    display: flex;
    flex-direction: column;
}