/* 
.hex:nth-child(even) => Select only even-order hex classes
:nth-child(odd) = Odd-order elements
:nth-child(3) = Exactly the 3rd element
:nth-child(3n) = Every 3rd element (3, 6, 9...)
:first-child = First element
:last-child = Last element
:hover = When the mouse hovers over the element
*/

/*
If you want child elements to automatically adjust their size to match the parent element, use Flexbox or Grid.
For Flexbox, use display: flex on the parent element and flex: 1 on the child elements (to divide them equally).
You can also use flex-direction to adjust the layout direction.
aspect-ratio: 1/1 can be used to fix each grid item as a square.
*/

/*
CSS has Dynamic Viewport Height (dvh), which allows you to set viewport height that changes dynamically depending on whether the address bar is visible or hidden.
Use dvh instead of vh for height.
For width, use dvw.
You can also use svh to get the height excluding the address bar.
*/

/* To arrange elements in a circular layout, use CSS transform and trigonometric functions. */
/* Hexagon shapes can be created using clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */

/*
Shadows
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            x y blur color (including transparency)
Adjust x and y offsets in px to control the direction of the shadow. If set to 0, no shadow appears in that direction.
*/

:root {
    --background-gradient: linear-gradient(45deg,#363a2a 0%,#22241c 20%,#1f211a 40%,#1d1f18 60%,#22241c 80%,#272920 100%);
    --header-height: 56px;
    --footer-height: 80px; 
    --line-height: 2px;
    --gaps: 4px; /* Total line spacing */
    --main-color: #96E36C;
    --light-color: #bcbcbcf3;
    --background-default: #3a3c32;
    --background-dark: #1e1e1c;
    --background-red: #9f3434;
}

/* Hide all scrollbars */
* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background-gradient);
    font-family: Arial, Helvetica, sans-serif;
}

.MainContainer {
    /* Fix the height of the content area based on the presence of the address bar, and adjust the padding to maintain the content area size regardless of the address bar visibility */
    display: grid;
    grid-template-rows: 
    var(--header-height)
    var(--line-height)
    /* Calculate the size of the central content area */
    /* Screen height excluding the address bar - header height - footer height - spacing */
    calc(100svh - var(--header-height) - var(--footer-height) - var(--gaps)) 
    var(--line-height)
    var(--footer-height);
    height: 100dvh;
    align-content: center;
}

.Line {
    background-color: var(--light-color);
}

.AppHeader {
    height: var(--header-height);
    min-height: var(--header-height);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--background-default);
}

.AppFooter {
    display: flex;
    height: var(--footer-height);
    min-height: var(--footer-height);
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--background-default);
}

.AppContents {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    overflow: hidden;
}

.HeaderIconcontainer {
    position: relative;
    display: flex;
    flex-direction: row;
}

.HeaderIconbox {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FooterIconbox {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80px;
    justify-content: center;
    align-items: center; 
}

.UserName {
    color: var(--main-color);
    font-size: medium;
    font-weight: bold;
}

.SeyHelloContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
}

.SeyHello {
    display: flex;
    flex-direction: row; 
    margin-right: 20px;
}

.LogoutButton {
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--light-color);
    color: var(--background-default);
}

.UploadButton {
    padding: 5px 10px;
    border: 0px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--background-default);
}

.ProfileImage, .ProfileImageAlt {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 20px;
}

.ProfileImageAlt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    color: var(--background-default);
}

.EditImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ProfileImageForHeader {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    padding: 0%;
    margin-right: 10px;
    border: 2px solid var(--main-color);
}

.HomeInfoContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 3/1;
    margin-top: 20px;
    justify-content: space-between;
}

.HomeInfo {
    position: relative;
    height: 90%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    background-color: var(--background-default);
    box-shadow:  0 2px 5px rgba(0,0,0,0.5);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ExerciseContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    max-height: 50%;
}

.GuideText {
    position: relative;
    display: flex;
    font-size: large;
    font-weight: bold;
    color: var(--light-color);
    margin-bottom: 10px;
    margin-top: 20px;
}

.GroupExerciseContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--background-default);
    justify-content: center;
    text-align: left;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow:  0 2px 5px rgba(0,0,0,0.5);
}

.GroupExerciseHeader {
    font-size: large;
    color: var(--main-color);
    margin: 20px;
    max-height: 30px;
}

.GroupExerciseContents {
    color: var(--light-color);
    margin: 0px 20px;
    max-height: 35px;
    overflow: scroll;
}

.GroupExpContainer {
    margin: 20px 0px;
    width: 100%;
}

.ExpContainer {
    margin: 20px;
    width: 100%;
    height: 50%;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.HomeInfoName {
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.HomeInfoItemContainer {
    height: auto;
    width: auto;
}